

  <h2>User Details</h2>
  <dl>
    <dt>Username:</dt>
    <dd>{{ user.username }}</dd>
    <dt>Email:</dt>
    <dd>{{ user.email }}</dd>
    <dt>Failed Logins:</dt>
    <dd>{{ user.failed_logins }}</dd>
    <dt>Blocked:</dt>
    <dd>{{ user.is_blocked }}</dd>
    <dt>Active:</dt>
    <dd>{{ user.is_active }}</dd>
    {% if user.activationlink %}
        <dd><a href="{% url 'user_activation' user.activationlink %}">Activation</a></dd>
    {% endif %}
    <dt>Phone Number:</dt>
    <dd>{{ user.number_phone }}</dd>
    <dt>Internal User:</dt>
    <dd>{{ user.internal_user }}</dd>
  </dl>
  <a href="{% url 'user_list' %}">Back to User List</a>

