<h2>User List</h2>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Failed Logins</th>
      <th>Blocked</th>
      <th>Active</th>
      <th>Phone Number</th>
      <th>Internal User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.failed_logins }}</td>
        <td>{{ user.is_blocked }}</td>
        <td>{{ user.is_active }}</td>
        <td>{{ user.number_phone }}</td>
        <td>{{ user.internal_user }}</td>
        <td>
          <a href="{% url 'user_detail' user.id %}">View</a>
          {#<a href="{% url 'user_edit' user.id %}">Edit</a>#}
          <a href="{% url 'user_delete' user.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'user_create' %}">Create User</a>